<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
  <body class="<%= page %>">
  	<% include partials/template/header.ejs %>
  	<% include partials/content/planetslist.ejs %>
 
    <section class="layout">

    	<div class="primary">
    		<% include partials/content/solarsystem.ejs %>
    		<% include partials/content/docwatch.ejs %>
    		<% include partials/content/whoshouldcome.ejs %>
    	</div><!-- primary -->

    	<aside class="secondary">
    		<% include partials/content/nextmeeting.ejs %>
    		<% include partials/content/planetsgallery.ejs %>
    	</aside><!-- secondary -->

    </section><!-- layout -->

    <% include partials/template/jsdefaults.ejs %>
    <% include partials/template/footer.ejs %>
  </body>
</html>
