<footer>
	<section class="layout">
        <a href="https://github.com/alextenche"><i class="fa fa-github-square fa-2x"></i></a>&nbsp;
        <a href="https://twitter.com/alexTenche"><i class="fa fa-twitter-square fa-2x"></i></a>&nbsp;
        <a id="alex" href="http://alextenche.jolinar.org"> 2015 alexTenche </a>
	</section>
</footer><!-- end footer -->