<header>
	<div class="hero">
		<section class="layout">
			<div class="branding">
				<a href="/"><h1 id="appTitle"> Solar System </h1>
					<!--<img src="/images/misc/solarsystem.svg" alt="Solar System Logo">-->
				</a>
			</div><!-- branding -->
		</section><!-- layout -->
	</div><!-- hero -->


	<div class="navigation">
		<section class="layout">
			<ul class="nav">
				<li><a href="/">
				<i class="fa fa-home"></i><i class="icon-home"></i> Home </a></li>
				<li><a href="/planets"><i class="fa fa-globe"></i> Planets </a></li>
			</ul><!-- nav -->
		</section><!-- navigation -->
	</div><!-- layout -->
</header>