extends layout

block content
  .jumbotron
    .container
      h1 testing
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      a.btn.btn-primary.btn-lg(href='#') learn more &raquo;
  .container
    .row
      .col-md-4
        h2 about us
        p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        a.btn.btn-default(href='#') learn more
      .col-md-4
        h2 services
        p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        a.btn.btn-default(href='#') learn more
      .col-md-4
        h2 services
        p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        a.btn.btn-default(href='#') learn more
